*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image:url(./components/img/img1.jpg) ;
    background-size: cover;
 
}

.todo-list-item{
    background-color: #252e33;
    display: flex;
    justify-content: space-between;
    border-radius: 40px;
    padding: 20px;
    color: gray;
    margin-top: 15px;
     
}
.todo{
 width: 500px;
 margin: 150px auto;

}
.form input{ 
 background-color: #181a19;
 border: none;
 outline: none;
 color: gray;
 width: 80%;
 padding: 10px;
 border-radius: 40px 0 0 40px;
}

button{
    cursor: pointer;
}

.form button{
    padding: 10px;
    width: 20%;
    border:none ;
    border-radius:0 40px 40px 0 ;
    background-color: white;
    color: black;
}
h1{
    color: white;
    text-align: center;
    margin-bottom: 20px;
    font-size: 70px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.pp{
    color: rgb(136, 128, 113);
    text-align: center;
    margin-top: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}